
body 
{
  font-family: "Lato", sans-serif;

}
.navbar-collapse
{
	margin-left:860px;
	font-size:20px;
	margin-top:0px;
	background-color:black;
}
.header img
{
	margin-left:30px;
    margin-top: 10px;
	width:200px;
	height:70px;
}
.header
{
    height: 90px;
}
@media screen and (max-width:1000px ){
	.header{
        width:480px;
	}
}
.dropdown
{
	background-color:#CCCCCC;
	height:60px;
	padding:10px;
}

.menu
{
	margin-left:550px;
	margin-top:-50px;
}
@media screen and (max-width:1000px ){
	.menu{
        margin-top: 30px;
        margin-left: 10px;
	}
}
@media screen and (max-width:400px ){
	.menu{
       display:none;
	}
}
.menu a
{
	padding:10px;
	color:fuchsia;	
}
.menu a:hover
{
	background-color:fuchsia;
	padding:10px;
	border-radius:5px;
    color:white;
    text-decoration: none;
}
/*----------HOME----------*/    
#home{
    height: 500px;
    background-image: url(pexels-singkham-178541-1108572.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: fuchsia;
    text-align: center;
}
@media screen and (max-width:1000px ){
	#home{
        height:800px;
	}
}
@media screen and (max-width:1000px ){
	.home{     
        margin-left: 10px;
	}
}
#home h1
{
    width: 100%;
    padding-top: 200px;
    color: fuchsia;
}
.home p{
    text-align: center;
}
.buy-btn
{
    
    color: white;
    background-color: fuchsia;
    border-radius: 10px;
    padding: 10px ;
    width: 100px;
    text-align: center;
}
.buy-btn:hover
{
    text-decoration: none;
    color: white;
    background-color: aqua;
}


.home-box
{
    margin-left: 10px;
    width: 430px;
    margin-top: 130px;
    background-color: white;
    text-align: left;
    display: inline-block;
}
/*----------sidepanel----------*/
.sidepanel  {
    display: none;
}
@media screen and (max-width:1000px ){
	.sidepanel{
         width: 0;
  position:  absolute;
  z-index: 1;
  height: 250px;
  top: 90px;
  left: 0px;
  background: linear-gradient(to top right,black,white,green);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;color:
	}
}


.sidepanel a {
  padding: 4px 8px 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: fuchsia;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: white;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
}

.openbtn {
    display: none;

}

@media screen and (max-width:1000px ){
	.openbtn{
        margin-top:-25px;
margin-left:250px;
color: fuchsia;
    border-style: none;
    background-color: white;
	}
}

/*----------About----------*/
.heading
{
	background-image: url(image22.png);
	margin-left:100px;
	margin-top:150px;
	height:80px;
	width:80%;
	padding:10px;
}
@media screen and (max-width:1000px ){
	.heading{
        margin-left: 0px;
        width:490px;
	}
}


h1
{
	color:white;
	text-align:center;
	font-size:60px;
	font-family:Embassy BT;
	padding: 1px 20px 0px;
	list-style: none;

}
@media screen and (max-width:1000px ){
	h1{
        margin-left: 40px;
        width: 420px;
		font-size:46px;
	}
}

h2
{
	color:fuchsia;
	margin-top:-10px;
	margin-left:300px;
	width:25%;
	text-align:center;
	font-size:40px;
	font-family:Embassy BT;

}
@media screen and (max-width:1000px ){
	h2{
        margin-left: 40px;
        width: 420px;
		font-size:36px;
	}
}
#about
{
	height:500px;
    margin-left: 80px;
}
@media screen and (max-width:1000px ){
	#about{
        width: 460px;
        margin-left: -5px;
        height: 800px;
	}
}
.about
{
    margin-left:20px;
}
.box
{
	margin-left:0px;
	width:265px;
	margin-top:50px;
    display: inline-block;

	
}
@media screen and (max-width:1000px ){
	.box{
        margin-left: 0px;
        width: 460px;
        margin-top: 10px;
	}
}
.box:hover
{
    border-style: solid;
    border-color: aqua;
    border-radius: 10px;
    color: white;
    background-image: url(image22.png);
}
.mission-box
{
    width: 810px;
    margin-left: 20px;
    padding: 50px;
    background-image: url(image22.png);
    margin-top: 50px;
    color: white;
}
@media screen and (max-width:1000px ){
	.mission-box{
		width:480px;
		padding:10px;
        margin-top: 10px;
        margin-left: 10px;
	}
}

.box .fa 
{
	font-size: 40px;	
	padding-left:10px;
	margin-top:10px;
	color:aqua;
	padding-top:10px;
	margin-left:100px;	
	text-align:center;
	width:20%;
	height:60px;
}
@media screen and (max-width:1000px ){
	.box .fa{
       
        margin-left: 150px;
	}
}
.content-box
{
	margin-top:10px;
	margin-left:2px;
	width:260px;
    padding: 10px;
}
@media screen and (max-width:1000px ){
	.content-box{
        width: 455px;height: 180px;
        
	}
}

.box-text h4
{
	text-align:center;
}
.box-text p
{
	margin-left:0px;
    width: 240px;
}
@media screen and (max-width:1000px ){
	.box-text p{
        width: 450px;
	}
}
.box-text li
{
	margin-left:0px;
    width: 250px;
    
}
.about-btn
{
	width:260px;
	height:55px;
	background: linear-gradient(to top right,black,white,green);
	margin-left:2px; 
	margin-top:0px;
	border-radius:10px;
	text-align:center;
	color:fuchsia;
	
}
@media screen and (max-width:1000px ){
	.about-btn{
        width: 455px;
	}
}
.about-btn a
{
	color:fuchsia;
	padding:10px;
	font-size:16px;
	margin-left:-20px;margin-top: 5px;
}

/*---Services-----*/
#services
{
    margin-top: 0px;
    height: 160px;
}
@media screen and (max-width:1000px ){
	#services{
        width: 480px;
        margin-left: 0px;
		height:900px;
	}
}
.services
{
	margin-left:100px;
	margin-top:50px;
	height:250px;
}
@media screen and (max-width:1000px ){
	.services{
        width: 460px;
        margin-left: 10px;
        height: 600px;
        margin-top: 20px;
	}
}
.services img
{
	width:200px;
	height:200px;
}
@media screen and (max-width:1000px ){
	.services img{
        width: 300px;
        height: 200px;
	}
}
.services-beads
{
	display: inline-block;
    font-size: 16px;
    width: 290px;
    padding: 10px;
	
}
@media screen and (max-width:1000px ){
	.services-beads{
		width:400px;
        margin-top: 10px;
        margin-left: 100px;
	}
}
.services-beads li
{
    list-style: none;
}





.services-farming
{
	margin-top:10px;
	height:300px;color: fuchsia;
}
@media screen and (max-width:1000px ){
	.services-farming{
        height: 460px;

	}
}








#study
{
	height:700px;
    margin-left: 80px;
}
@media screen and (max-width:1000px ){
	#study{
        margin-top: 10px;
        margin-left: 0px;
		height:900px;
	}
}


/*---flip-card----*/
#tutorial
{
    height: 320px;
}
@media screen and (max-width:1000px ){
	#tutorial{
        height:700px;
	}
}
.tutorial
{
    margin-left: 100px;
    margin-top: 50px;
}
@media screen and (max-width:1000px ){
	.tutorial{
       margin-left: 10px;
        height: 820px;

	}
}
.tutorial-box
{
    display: inline-block;
}
.flip-card
{
	background-color:transparent;
	width:400px;
	height:400px;
	perspective:1000px;
	margin-left:0px;
	margin-top:10px;
    display: inline-block;
}
@media screen and (max-width:1000px ){
	.flip-card{
        margin-top: 10px;
        margin-left: 30px;
	}
}
.flip-card-inner
{
	position:relative;
	width:100%;
	height:100%;
	text-align:;
	transition:transform 0.6s;
	transform-style:preserve-3d;
}
.flip-card:hover .flip-card-inner
{
	transform: rotateY(180deg);
	margin-left:80px;
}
.flip-card-front, .flip-card-back
{
	position:absolute;
	width:100%;
	height:100%;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}
.flip-card-front
{
	
	color:black;
}
.flip-card-back
{
	background-image: url(image22.png);
	color:white;
	margin-left:80px;
	height:400px;
	width:400px;
	transform: rotateY(180deg);
}
@media screen and (max-width:1000px ){
	.flip-card-back{
       margin-left: 80px;
        width: 400px;
       height: 400px;
        text-align: left;

	}
}
.flip-card img
{
    width:400px;
    height:400px;
}
@media screen and (max-width:1000px ){
	.flip-card img{
        width: 400px;
       height: 400px;

	}
}
.flip-card li
{
    list-style: none;
}
.flip-card h4
{
    text-align: center;
}

/*-----Slider------*/
#courses
{
    height: 450px;
}
@media screen and (max-width:1000px ){
	#courses{
        height:900px;
	}
}
#headerSlider
{
    margin-top: 50px;
    width: 800px;
    margin-left: 100px;
    background-image: url(image22.png);
    color: white;
    
    
}
@media screen and (max-width:1000px ){
	#headerSlider{
        width:480px;
		margin-left:10px;
	}
}

#headerSlider h3
{
	color:white;
	font-size:42px;
    background-color: aqua;
    width: 200px;
    text-align: center;
}

.fluids-box
{
	width:290px;
    display: inline-block;
	
    margin-left: 70px;
}

 .head{
    padding: 50px;
}

/*---contacts-----*/
#contacts
{
    margin-left: 80px;
}
@media screen and (max-width:1000px ){
	#contacts{
        margin-top: 10px;
        margin-left: 10px;
		height:600px;
	}
}
.contacts
{
    padding:10px;
    text-align:center;
    margin-top:1px;
    margin-left:0px;
    width: 800px;
    
}
@media screen and (max-width:1000px ){
	.contacts{
		width:480px;
        margin-top: 10px;
        margin-left: 10px;
	}
}
.contacts-box
{
    margin-left:10px;
    height:240px;
    width:370px;
    display: inline-block;
}
@media screen and (max-width:1000px ){
	.contacts-box{
        margin-top: 10px;
        margin-left: 10px;
	}
}
.content-box ul li
{
    list-style: none;
}
.form-msg
{

    padding:10px;
    text-align:center;
    margin-top:1px;
    margin-left:130px;
    height:300px;
    width:250px;
	background-image: url(image22.png);
}
@media screen and (max-width:1000px ){
	.form-msg{
    margin-left: 0px;
		margin-top:100px;
		width:370px;

	}
}
input
{
  	margin-left:20px;
   height: 30px;
   width: 220px;

}
@media screen and (max-width:1000px ){
	input{
        width:340px;
	}
}
textarea
{
	width: 220px;height: 70px;	
}
@media screen and (max-width:1000px ){
	textarea{
		width:340px;
	}
}

.col-75
{
 
  width: 75%;
  margin-top: 6px;
}
.form-msg button
{

    margin-top: -10px;

    width: 220px;
    background-color: white;
    margin-left:40px;
    padding:10px;
    color: fuchsia;
    border: none;
   
    

}
@media screen and (max-width:1000px ){
	.form-msg button{
        width:340px;
	}
}
.form-msg h6
{
    color: aqua;
}
.form-msg button:hover
{
    color: white;
    background-color: aqua;
}
.col-lg-8
{
	margin-left:-50px;
}






.collapsible {
  background-image: url(image22.png);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
	margin-top: 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
}



.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
.contents h3
{
    color: aqua;
}

/*-----footer------*/
.footer .fa
{
	background-color:#CC6600;
	color: #999999;
	font-size:16px;
	padding:10px;
	border-radius:0px;
}

.footer
{
	background-color:black;
	height:100px;
	margin-top:20px;
	color:white;
}
@media screen and (max-width:1000px ){
	.footer{
        width:480px;
	}
}
.foot
{
    color: grey;
    padding:10px;
    background:black;width: 100%;
}

